<ion-view view-title="{{type}}" ng-controller="getClassifyController">
    <ion-nav-bar align-title="left" class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button class="button stable-border" ng-show="buttonArray.important == ''" on-tap="actionAllImportant()">全部</button>
            <button class="button stable-border" ng-show="buttonArray.important == '5'" on-tap="actionUngency()">紧急</button>
            <button class="button stable-border"  ng-show="buttonArray.important == '3'" on-tap="actionImport()">重要</button>
            <button class="button stable-border" ng-show="buttonArray.read == ''" on-tap="actionAllRead()">全部</button>
            <button class="button stable-border" ng-show="buttonArray.read == '0'" on-tap="actionUnRead()">未读</button>
            <button class="button stable-border" ng-show="buttonArray.read == '1'" on-tap="actionHasRead()">已读</button>
            <button class="button" ng-click="openSearchModal()">
                <i class="icon ion-ios-search-strong"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-pane>
        <div class="bar bar-stable bar-subheader">
            <div class="row select-box">
                <div class="col item-input item-select" style="line-height:32px;">
                    <select ng-model='opt.date' ng-change="changeOption()">
                        <option value="" selected="selected" >所有</option>
                        <option value="TD">今天</option>
                        <option value="YD">昨天</option>
                        <option value="LW">上周</option>
                        <option value="LM">上月</option>
                    </select>
                </div>
                <div class="col item-input item-select" ng-controller="provinceController">
                    <select ng-model='opt.provice' ng-change="changeOption()">
                        <option value="">全国</option>
                        
                        <option value="{{province[0]}}" ng-repeat="province in provinces">{{province[1]}}</option>
                    </select>
                </div>
                <div class="col item-input item-select">
                    <select ng-model="opt.type" ng-change="changeOption()">
                        <option value="">所有</option>
                        <option ng-repeat="articleType in articleTypeList" value="{{articleType[0]}}">{{articleType[1]}}</option>
                    </select>
                </div>
            </div>
        </div>
        <ion-content class="has-subheader">
            <ion-refresher pulling-text='下拉刷新' on-refresh='actionAll()'>
            </ion-refresher>
            <ion-list>
                <ion-item class="item-avatar" on-tap="showPageModal(item[0])" ng-repeat="item in xxlist">
                    <img ng-src="http://bidi.rype.cn/rype-app/app/bid/icon.do?id={{item[12]}}">
                    <h2>{{item[1]}}</h2>
                    <p>{{item[5]}}</p>
                    <ion-option-button class="button-dark" ng-click="share('item')">
                        历史
                    </ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="share('item')">
                        分享
                    </ion-option-button>
                    <div class="item-footer">
                        <span class="item-time">{{item[6]}}</span>
                        <span ng-if="item[11] == 1">已读</span>
                        <span ng-if="item[11] == 0">未读</span>
                        <span ng-show="item[7] == 1"><i class="ion ion-record"></i></span>
                        <span ng-show="item[7] == 3"><i class="ion royal ion-record"></i></span>
                        <span  ng-show="item[7] == 5"><i class="ion assertive ion-record"></i></span>
                        <span><i class="fa fa-heart-o" ng-class="{'energized':item[8]}"></i></span>
                        <span><i class="ion ion-ios-eye-outline"></i>{{item[9]}}</span>
                        <span><i class="ion ion-ios-compose-outline"></i>{{item[10]}}</span>
                    </div>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="isScroll" on-infinite="loadMoreClassifyxx()" distance="1%">
            </ion-infinite-scroll>
        </ion-content>
    </ion-pane>
</ion-view>
