<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <button class="button button-clear" ng-click="hideDataSearchModal()">
                <i class="icon ion-ios-arrow-back"></i>
            </button>
        </div>
        <h1 class="title">{{title + '+' + dataSearch.sortName + '+' + dataSearch.zxFl + '+' + dataSearch.ente}}</h1>
    </ion-header-bar>
    <ion-content class="has-header" ng-controller="dataSearchTypesListController">
        <table width="100%" class="table-row">
            <tr>
                <th width="30%">企业</th>
                <th>排名项</th>
                <th>中西分类</th>
                <th>排名</th>
            </tr>
            <tr ng-repeat="item in dataSearchTypesList">
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
            </tr>
        </table>
        <div class="padding text-center" style="color:#696969">搜索结果共 {{dataSearchTypesList.length}} 条</div>
</ion-content>
</div>
