<ion-view view-title="请选择数据分类">
    <ion-pane>
        <ion-content has-bouncing="true" class="has-header has-tabs">
            <ion-list>
                <ion-item  ui-sref="index.classify-data-E({code:'E1',title:'工信部行业排名'})" class="item item-icon-right">工信部行业排名<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
                <ion-item  ui-sref="index.classify-data-D({code:'D1',title:'中标数据查询'})" class="item item-icon-right">中标数据查询<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
                <ion-item  ui-sref="index.classify-data-Z({code:'ZH',title:'综合查询'})" class="item item-icon-right">综合查询<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
                <ion-item  ui-sref="index.classify-data-A({code:'A1',title:'基药目录'})" class="item item-icon-right">基药目录<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
                <ion-item  ui-sref="index.classify-data-B({code:'B1',title:'医保目录'})" class="item item-icon-right">医保目录<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
                <ion-item  ui-sref="index.classify-data-B({code:'B2',title:'新农合目录'})" class="item item-icon-right">新农合目录<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
                <ion-item  ui-sref="index.classify-data-B({code:'B3',title:'低价药目录'})" class="item item-icon-right">低价药目录<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
                <ion-item  ui-sref="index.classify-data-A({code:'A2',title:'妇儿专科用药目录'})" class="item item-icon-right">妇儿专科用药目录<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
                <ion-item  ui-sref="index.classify-data-A({code:'A3',title:'急抢救用药目录'})" class="item item-icon-right">急抢救用药目录<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
                <ion-item  ui-sref="index.classify-data-A({code:'A4',title:'辅助用药目录'})" class="item item-icon-right">辅助用药目录<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
                <ion-item  ui-sref="index.classify-data-C({code:'C1',title:'注册产品'})" class="item item-icon-right">注册产品<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
</ion-view>