<ion-view title="信息分类">
    <ion-pane>
        <ion-content has-bouncing="true" class="has-header has-tabs">
            <div class="index-row-box">
                <div class="row" ng-repeat="list in classify.T">
                    <div ng-if="item[0] == 1" class="col" ng-repeat = "item in list">
                        <button ng-if="item[1]=='招标信息'" ui-sref="index.classify-xx({type:item[1],id:item[2]})" class="button button-block button-clear button-icon-top button-balanced">
                            <i class="fa fa-legal fa-3x"></i>
                            <span class="dark">{{item[1]}}</span>
                        </button>
                        <button ng-if="item[1]=='政策解读'" ui-sref="index.classify-xx({type:item[1],id:item[2]})" class="button button-block button-clear button-icon-top  button-energized">
                            <i class="fa fa-book fa-3x"></i>
                            <span class="dark">{{item[1]}}</span>
                        </button>
                        <button  ng-if="item[1]=='操作指引'" ui-sref="index.classify-xx({type:item[1],id:item[2]})" class="button button-block button-clear button-icon-top button-calm">
                            <i class="fa fa-map-signs fa-3x"></i>
                            <span class="dark">{{item[1]}}</span>
                        </button>
                    </div>
                    <div ng-if="item[0] == 2" class="col" ng-repeat = "item in list">
                        <button ui-sref="index.classify-data" class="button button-block button-clear button-icon-top button-royal">
                            <i class="fa fa-search fa-3x"></i>
                            <span class="dark">{{item[1]}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <ion-list>
                <ion-item class="item item-divider">
                    分类导航
                </ion-item>
                <ion-item ng-repeat="item in classify.B" ui-sref="index.classify-xx({type:item[1],id:item[2]})" class="item item-icon-right">{{item[1]}}<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
</ion-view>
