<ion-view title="信息分类">
    <ion-pane>
        <ion-content has-bouncing="true" class="has-header has-tabs">
            <div class="index-row-box">
                <div class="row" ng-repeat="list in classify.hotClassify">
                    <div class="col" ng-repeat = "item in list">
                        <button ui-sref="index.classify-xx({type:'{{item.title}}'})" class="button button-block button-balanced">
                            {{item.title}}
                        </button>
                    </div>
                </div>
            </div>
            <ion-list>
                <ion-item class="item item-divider">
                    分类导航
                </ion-item>
                <ion-item ng-repeat="item in classify.otherClassify" ui-sref="index.classify-xx({type:'{{item.title}}'})" class="item item-icon-right">{{item.title}}<i class="button-small item-note icon ion-ios-arrow-right"></i></ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
</ion-view>
