<ion-view title="招标进行时">
    <ion-pane>
        <div align-title="left" class="bar bar-subheader  item-input-inset">
                <button on-tap="openSearchModal()" class="button button-small button-block button-light stable"><i class="fa fa-search"></i> 请输入需要搜索的关键字...</button>
        </div>
        <ion-content class="has-subheader" has-bouncing="true">
            <ion-refresher pulling-text='下拉刷新' on-refresh='doRefresh()'>
            </ion-refresher>
            <ion-slide-box ng-if="hotImg" style="width:100%;" class="index-slider-box" auto-play="true" does-continue="true">
                <ion-slide ng-repeat="item in hotImg">
                    <div class="box blue">
                        <div style="width:100%;height:157px" on-tap="showPageModal(item[1])">
                            <img ng-src="http://testnapp.rype.cn/rype-app/app/bid/carouselImg.do?sn={{item[0]}}" />
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div class="index-row-box">
                <div class="row">
                    <div class="col">
                        <button ui-sref="index.home-xx({type:'招标信息',id:'zbxx'})" class="button button-block button-clear button-icon-top button-balanced">
                            <i class="fa fa-legal fa-3x"></i>
                            <span class="dark">招标信息</span>
                        </button>
                    </div>
                    <div class="col">
                        <button ui-sref="index.home-xx({type:'政策解读',id:'zcjd'})" class="button button-block button-clear button-icon-top button-energized">
                            <i class="fa fa-book fa-3x"></i>
                            <span class="dark">政策解读</span>
                        </button>
                    </div>
                    <div class="col">
                        <button ui-sref="index.home-jgdh" class="button button-block button-clear button-icon-top button-positive">
                            <i class="fa fa-map-o fa-3x"></i>
                            <span class="dark">机构导航</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button ui-sref="index.home-sub({type:'我的订阅'})" native-ui-sref-opts="{reload: true}" native-options="{type: 'slide', direction:'down'}" class="button button-block button-clear button-icon-top button-calm">
                            <i class="fa fa-star fa-3x"></i>
                            <span class="dark">我的订阅</span>
                        </button>
                    </div>
                    <div class="col">
                        <button ui-sref="index.home-collect" class="button button-block button-clear button-icon-top button-assertive">
                            <i class="fa fa-heart-o fa-3x"></i>
                            <span class="dark">我的收藏</span>
                        </button>
                    </div>
                    <div class="col">
                        <button ui-sref="index.classify" class="button button-block button-clear button-icon-top button-royal">
                            <i class="fa fa-th-large fa-3x"></i>
                            <span class="dark">更多...</span>
                        </button>
                    </div>
                </div>
            </div>
            <ion-list>
                <div class="item item-divider pull-center">
                    热门标题
                </div>
                <ion-item class="item-avatar" ng-repeat="post in hotPost" on-tap="showPageModal(post[0])">
                    <img ng-src="http://testnapp.rype.cn/rype-app/app/bid/icon.do?id={{post[12]}}">
                    <h2>{{post[1]}}</h2>
                    <p>{{post[5]}}</p>
                    <div class="item-footer">
                        <span class="item-time">{{post[6]}}</span>
                        <span ng-if="post[11] == 1">已读</span>
                        <span ng-if="post[11] == 0">未读</span>
                        <span ng-show="post[7] == 1"><i class="ion ion-record"></i></span>
                        <span ng-show="post[7] == 3"><i class="ion royal ion-record"></i></span>
                        <span  ng-show="post[7] == 5"><i class="ion assertive ion-record"></i></span>
                        <span><i class="fa fa-heart-o" ng-class="{'energized':post[8]}"></i></span>
                        <span><i class="ion ion-ios-eye-outline"></i>{{post[9]}}</span>
                        <span><i class="ion ion-ios-compose-outline"></i>{{post[10]}}</span>
                    </div>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="cancelMoreLoad()" on-infinite="loadMoreHotPost()" distance="1%">
            </ion-infinite-scroll>
        </ion-content>
    </ion-pane>
</ion-view>
