<ion-view>
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-tabs class="tabs-icon-top tabs-striped tabs-background-stable tabs-color-positive">
        <ion-tab title="首页" href="#index/home" icon="ion-home">
            <ion-nav-view name="index-home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="分类" href="#/index/classify" icon="ion-grid">
            <ion-nav-view name="index-classify"></ion-nav-view>
        </ion-tab>
        <ion-tab title="我的" href="#/index/member" icon="ion-person">
            <ion-nav-view name="index-member"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
