<div class="modal" ng-controller="pageController as pageAll">
<!-- <ion-view view-title="{{post.topic}}"> -->
    <ion-side-menus>
        <ion-side-menu delegate-handle="pageSide" width="200" side="left">
            <ul class="list">
                <li on-tap="getPage(history[0])" class="item" ng-repeat="history in postHistory">
                    <h2>{{history[1]}}</h2>
                    <p>{{history[6]}}</p>
                    <span class="item-note">{{post[7]}}</span>
                </li>
            </ul>
        </ion-side-menu>
        <ion-side-menu-content>
            <ion-header-bar align-title="left" class="bar-positive">
                <div class="buttons">
                    <button class="button button-clear" ng-click="hidePageModal()">
                        <i class="icon ion-ios-arrow-back"></i>
                    </button>
                  </div>
                  <h1 class="title">{{post.topic}}</h1>
                  <div class="buttons">
                    <button class="button" on-tap="sharePage()"><i class="icon fa fa-share"></i></button>
                    <button class="button" ng-click="addCollected()" ng-hide="post.collected"><i class="icon ion-ios-pricetags"></i></button>
                    <button class="button" ng-click="cancelCollected()" ng-show="post.collected"><i class="icon energized ion-ios-pricetags"></i></button>
                    <!--            <button class="button"><i class="icon fa" ng-class="{true:'fa-folder-open-o',false:'fa-folder-o'}[post.isRead]"></i></button>-->
                    <button class="button" ng-if="sheetShow" ng-click="showPageSheet()"><i class="icon ion-more"></i></button>
                  </div>
            </ion-header-bar>
            <ion-content has-bouncing="false">
                <div class="padding page-cotent" ng-bind-html="post.content">
                    {{post.content}}
                </div>
                <ul class="list">
                    <li class="item item-divider">
                        评论
                        <span class="badge badge-assertive"></span>
                    </li>
                    <li class="item item-avatar" ng-repeat="comment in commentList" href="#">
                        <img src="img/default-40-40.png">
                        <h2>{{comment[1]}}</h2>
                            <div class="item-footer">
                            <span class="item-time">{{comment[3]}}</span>
                            <span>{{comment[6]}}</span>
                        </div>
                    </li>
                </ul>
            </ion-content>
            <ion-footer-bar class="item-input-inset bar-stable" keyboard-attach>
                <label class="item-input-wrapper">
                    <i class="icon ion-compose placeholder-icon"></i>
                    <input type="text" placeholder="说两句吧..." id="commentInput" value='{{commentInput}}' ng-model="commentInput">
                </label>
                <button  ng-hide="commentInput.length > 0" style="width:40px;" class="button button-positive button-clear">
                    <!--            <span class="badge badge-assertive">-->
                    <span class="badge badge-positive">{{commentList.length || 0}}</span>
                </button>
                <button  ng-show="commentInput.length > 0" style="width:40px;position:relative;top:0;right:0;left:0;bottom:0;" class="button button-positive button-clear" ng-click="pushComment(commentInput)">
                    <span>发表</span>
                    <!--            </span>-->
                </button>

            </ion-footer-bar>

        </ion-side-menu-content>
    </ion-side-menus>
<!-- </ion-view> -->
</div>
