<!--<div class="modal" ng-controller="pageController">-->
<ion-view view-title="{{post.title}}">
    <ion-nav-bar align-title="left" class="bar-positive">
        <ion-nav-buttons side="left">
            <button class="button back-button buttons  button-clear header-item" ng-click="goBack()">
                <i class="icon ion-ios-arrow-back"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button"><i class="icon fa fa-share"></i></button>
            <button class="button" ng-click="goBack()"><i class="icon energized ion-ios-pricetags"></i></button>
            <!--            <button class="button"><i class="icon fa" ng-class="{true:'fa-folder-open-o',false:'fa-folder-o'}[post.isRead]"></i></button>-->
            <button class="button" ng-click="showPageSheet()"><i class="icon ion-more"></i></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-side-menus>
        <ion-side-menu width="200" side="left">
            <ul class="list has-header">
                <li class="item">
                    <h2>历史信息菜单</h2>
                    <p>Back off, man. I'm a scientist.</p>
                    <span class="item-note">12-12</span>
                </li>
                <li class="item">
                    <h2>历史信息菜单</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </li>
                <li class="item">
                    <h2>历史信息菜单</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </li>
                <li class="item">
                    <h2>历史信息菜单</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </li>
                <li class="item">
                    <h2>历史信息菜单</h2>
                    <p>Back off, man. I'm a scientist.</p>
                </li>
            </ul>
        </ion-side-menu>
        <ion-side-menu-content>
            <ion-content has-bouncing="false">
                <div class="padding">
                    {{post.content}}
                </div>
                <ul class="list">
                    <li class="item item-divider">
                        评论
                        <span class="badge badge-assertive"></span>
                    </li>
                    <li class="item item-avatar" ng-repeat="commentList in post.comment" href="#">
                        <img src="img/default-40-40.png">
                        <h2>{{commentList.name}}</h2>
                        <p>{{commentList.content}}</p>
                    </li>
                </ul>
            </ion-content>
            <ion-footer-bar class="item-input-inset bar-stable">
                <label class="item-input-wrapper">
                    <i class="icon ion-compose placeholder-icon"></i>
                    <input type="text" placeholder="说两句吧..." ng-model="commentInput">
                </label>
                <button style="width:40px;" class="button button-positive button-clear">
                    <!--            <span class="badge badge-assertive">-->
                    <span ng-hide="commentInput.length > 0" class="badge badge-positive">{{(post.comment).length}}</span>
                    <span ng-show="commentInput.length>0">发表</span>
                    <!--            </span>-->
                </button>

            </ion-footer-bar>

        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
<!--</div>-->
