/* Empty. Add your own CSS if you like */
.index-slider-box img {
    width: 100%;
    height: auto;
    display: block;
}
.index-row-box .button.button-block {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 70px;
    border-radius: 0;
    font-size: .8rem;
}
.scroll-bar-v {
    display: none;
}
ion-content {
    overflow: hidden!important;
}
.slider-slides{
    width: 100%;
}
.page-cotent img{
    width: 100%;
    height: auto;
}
.slider-pager .slider-pager-page{
    color: #fff;
}
.select-box>.col {
    padding: 10px 0;
}
.select-box>.col>select {
    max-width: 100%!important;
    background-color: transparent;
}
.slide-in-left {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.slide-in-left.ng-enter,
.slide-in-left > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}
.slide-in-left.ng-enter-active,
.slide-in-left > .ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slide-in-left.ng-leave,
.slide-in-left > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}

/*解决百度地图拖动出现error:Uncaught TypeError: Cannot read property 'offsetLeft' of null*/

.modal-backdrop {
    position: absolute;
}

/*ionic android actionSheet样式*/

.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.2);
}
.platform-android .action-sheet {
    margin: 0 8px;
}
.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
    text-align: center;
    font-size: 16px;
    color: #007aff;
}
.platform-android .action-sheet-group .button{
    border-width:1px 0 0 0;
    border-style: solid;
    border-color: #d1d3d6;
}
.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
}
.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}
.platform-android .action-sheet .button.destructive{
    color: #ff3b30;
}
.platform-android .action-sheet-group {
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #f1f2f3;
}
.platform-android .action-sheet-cancel {
    display: block;
}
.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}

.item p{
    margin-bottom: 10px;
}
.item-footer{
    position: absolute;
    bottom:0;
    left: 72px;
    right: 5px;
    color: #9a9999;
    text-align: right;
}
.item-footer span{
    margin: 0 5px;
    line-height: 2;
    font-size: 12px;
}
.item-footer span.item-time{
    float: left;
    margin-left: 0;
}
.logo{
    padding: 50px 0 20px 0;
    background-color: #1da0cb;
    text-align: center;
}
.bar-header .button{
    position: relative;
    background-color: transparent;
}
.bar-header .buttons-right .button{
    margin: 0 5px;
}
.bar-header .button .badge{
    position: absolute;
    right:-5px;
    z-index: 2;
    padding: 0;
    width: 14px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    text-overflow:ellipsis;
    top: 0px;
    font-size: 8px;
    border-radius: 10px;
    color: #fff;
    background-color: red;
}
.share > div{
    line-height: 2;
    font-size: 12px;
}
.share > div > span{
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border-radius: 100%;
    background-size:60% 60%;
}
span.icon-qq{
    background:url(../img/qq.png) center center no-repeat;
}
span.icon-wechat{
    background:url(../img/wechat.png) center center no-repeat;
}
span.icon-qqzone{
    background:url(../img/qqzone.png) center center no-repeat;
}
span.icon-wechat-friends{
    background:url(../img/wechat-friends.png) center center no-repeat;
}
.button-icon-top{
    line-height: 1.5;
}
.button-icon-top > i {
    display: block;
}
.table-row{
    text-align: center;
    border-collapse: collapse;
}
.table-row th{
    background-color: #f7f7f7;
    font-weight: 500;
}
.table-row td{
    background-color: #fff;
}
.table-row td,.table-row th{
    
    padding: 5px;
    border: 1px solid #d1d1d1;
}